<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="/static/css/mvp.css" />
    <style>
      :root {
        --width-card: 500px;
      }

      form {
        border: none !important;
        box-shadow: none !important;
        margin: auto;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Tagebuch</h1>
      <div>Nehmen Sie sich Zeit für sich selbst</div>
    </header>
    <main>
      <% if (typeof msg === 'string') { %>
      <article>
        <aside>
          <p><%= msg %></p>
        </aside>
      </article>
      <% } %>
      <section>
        <aside>
          <form action="/login" method="POST">
            <label for="username">Username</label>
            <input
              id="username"
              name="username"
              placeholder="username"
              required
              minlength="4"
              maxlength="10"
            />
            <label for="password">Password</label>
            <input
              id="password"
              type="password"
              name="password"
              placeholder="password"
              required
              minlength="6"
            />
            <button id="submit">LOGIN</button>
          </form>
        </aside>
      </section>
    </main>
  </body>
</html>
