<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title></title>
    <link rel="stylesheet" href="https://andybrewer.github.io/mvp/mvp.css" />
    <% if (sitekey) { %>
    <script
      nonce="<%= nonce %>"
      src="https://challenges.cloudflare.com/turnstile/v0/api.js"
      defer
    ></script>
    <% } %>
    <style>
      textarea {
        width: 90%;
        height: 3em;
        resize: none;
      }

      header {
        height: 10px;
      }
    </style>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li>Diary</li>
        </ul>
        <ul>
          <form action="/report" method="post">
            <input type="hidden" name="id" id="report-id" />
            <input type="hidden" name="username" id="report-username" />
            <div class="cf-turnstile" data-sitekey="<%= sitekey %>"></div>
            <input type="submit" value="report" />
          </form>
        </ul>
      </nav>
    </header>
    <main id="container">
      <h2 id="title"></h2>
      <hr />
      <div id="content"></div>
    </main>
    <script nonce="<%= nonce %>" src="/static/js/share_read.js"></script>
  </body>
</html>
